<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hang+</title>
  </head>
  <body>
    <h1>Hang+</h1>
    <p id="word"><%= session['word'] %></p>
    <form action="/guardar" method="POST">
      <input id="letter" type="text" name="texto">
      <input type="submit" value="guardar"/>
    </form>
  
  </body>
</html>
