<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hang+</title>
  </head>
  <body>
    <h1>Hang+</h1>
    <p id="word"><%= session['correct_letter'] %></p>
    <form action="/guardar" method="POST">
      <input id="letter" type="text" name="texto" pattern="[A-Za-z]" maxlength="1" />
      <input type="submit" value="guardar"/>
      </br>
      <%if( session['salida'] != nil) %>
        <%if  session['salida'].size > 1 %>
          <ul>
            <% for i in session['salida'].split(",")%>
              <%if i !='' %>
                <%= "<li>#{i}</li>"%>
              <%end %>
            <%end %>
          </ul>
          <%end %>
      <%end %>
    </form>
 </body>
</html>
